@import "../../../scss/index.scss";
.searchs {
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $border-grey-dark;
  }
}
